<ul id="available_fields">
  <li class="field">Total</li>
  <li class="field">Item</li>
</ul>

<span style='display: none'>
  <span id='total_template'>
    <% fields_for("criteria[]", IncentiveCriterium.new) do |f| %>
      Total: <%= f.select :finder, [['>', 'total_greater_than'], ['<', 'total_less_than']] %>
      <%= f.text_field :param %>
    <% end %>
  </span>
  
  <span id='item_template'>
    <% fields_for("criteria[]", IncentiveCriterium.new) do |f| %>
      Containing item: <%= f.select :param, @items.map {|i| [i.name, i.id] } %>
      <%= f.hidden_field :finder, :value => "containing_item" %>
    <% end %>
  </span>
</span>

<div id="build_incentive">
  <h3>Build your incentive!</h3>
  <hr/>

  <% form_for(:incentive, :url => incentives_url, :html => {:id => 'incentive_form'}) do |form| %>
    <%= form.hidden_field :model, :value => "Cart" %>
    Name: <%= form.text_field :name %><br/>

    <%= submit_tag "Create!" %>
  <% end %>
</div>
